:root {
    --channel-aspect-width: 192;
    --channel-aspect-height: 105;
}

html, body {
    user-select: none;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 

    background-color: black;
}

.cursor, 
.cursor-shadow {
    position: fixed;
    top: 0;
    left: 0;

    pointer-events: none;
    transform-origin: center;
    will-change: transform;

    z-index: 99;
} 

.cursor-shadow {
    opacity: 0.5;
    filter:blur(2px);
}

/* -- menu -- */
.menu {
    will-change: transform;
    backface-visibility: hidden;

    min-height: 100vh;
    display: flex; /* Optional: helps with layout */
    flex-direction: column;
    margin: 0;
    padding: 0;

    background-color: white;
}

.menu[data-state="inactive"] {
    pointer-events: none;
}

.menu-page {
    width: auto;
    max-height: 70vh;

    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5vmin;

    align-content: center;
    justify-content: center;

    /* aspect-ratio: 16/9; /* 4*4 / 3*3 */
    aspect-ratio: calc(var(--channel-aspect-width) * 4) / calc((var(--channel-aspect-height) * 3));
}

@media (orientation: portrait) {
    .menu-page {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
        aspect-ratio: 1; /* 4*3 / 3*4 */
    }
}

.menu-page .channel-icon {
    width: 100%;
    height: 100%;

    position: relative
}

.channel-icon-content {
    width: auto;
    height: auto;

    position: absolute;
    background-color: rgb(240, 233, 223);

    border-radius: 10%;
    inset: 2% 1.2%;
}

.channel-icon-outline {
    width: 100%;
    height: 100%;

    position: absolute;
}

.channel-icon-select {
    width: 100%;
    height: 100%;
    position: absolute;

    opacity: 0;
    transform: scale(0.95);

    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}

.channel-icon[data-clickable="true"]:hover .channel-icon-select {
    opacity: 1;
    transform: scale(1.04);

    transition-duration: 0s;
}

.banner {
    /*
    -webkit-mask-image: url('assets/banner-mask.svg');
    mask-image: url('assets/banner-mask.svg');

    mask-type: alpha;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-position: center;
    mask-position: center;

    contain: paint;
    */

    clip-path: polygon( 50.144% 0.441%,50.144% 0.441%,54.319% 0.378%,58.677% 0.354%,63.14% 0.369%,67.63% 0.421%,72.066% 0.507%,76.372% 0.625%,80.469% 0.775%,84.278% 0.954%,87.72% 1.16%,90.718% 1.391%,90.718% 1.391%,92.629% 1.635%,94.232% 2.034%,95.556% 2.639%,96.629% 3.503%,97.48% 4.679%,98.137% 6.217%,98.628% 8.17%,98.982% 10.591%,99.227% 13.53%,99.392% 17.041%,99.392% 17.041%,99.476% 19.581%,99.561% 22.448%,99.645% 25.584%,99.725% 28.931%,99.799% 32.431%,99.865% 36.027%,99.921% 39.662%,99.963% 43.278%,99.99% 46.816%,100% 50.22%,100% 50.22%,99.99% 53.625%,99.963% 57.164%,99.921% 60.779%,99.865% 64.414%,99.799% 68.01%,99.725% 71.51%,99.645% 74.857%,99.561% 77.993%,99.476% 80.86%,99.392% 83.4%,99.392% 83.4%,99.227% 86.911%,98.982% 89.85%,98.628% 92.271%,98.137% 94.224%,97.48% 95.762%,96.629% 96.938%,95.556% 97.802%,94.232% 98.407%,92.629% 98.806%,90.718% 99.05%,90.718% 99.05%,87.72% 99.274%,84.278% 99.46%,80.469% 99.613%,76.372% 99.735%,72.066% 99.829%,67.63% 99.899%,63.14% 99.948%,58.677% 99.979%,54.319% 99.995%,50.144% 100%,50.144% 100%,45.969% 99.995%,41.61% 99.979%,37.147% 99.948%,32.658% 99.899%,28.221% 99.829%,23.915% 99.735%,19.819% 99.613%,16.01% 99.46%,12.567% 99.274%,9.57% 99.05%,9.57% 99.05%,7.659% 98.806%,6.056% 98.407%,4.732% 97.802%,3.659% 96.938%,2.808% 95.762%,2.151% 94.224%,1.66% 92.271%,1.306% 89.85%,1.061% 86.911%,0.896% 83.4%,0.896% 83.4%,0.812% 80.86%,0.727% 77.993%,0.643% 74.857%,0.563% 71.51%,0.488% 68.01%,0.422% 64.414%,0.367% 60.779%,0.325% 57.164%,0.297% 53.625%,0.288% 50.22%,0.288% 50.22%,0.297% 46.816%,0.325% 43.278%,0.367% 39.662%,0.422% 36.027%,0.488% 32.431%,0.563% 28.931%,0.643% 25.584%,0.727% 22.448%,0.812% 19.581%,0.896% 17.041%,0.896% 17.041%,1.061% 13.53%,1.306% 10.591%,1.66% 8.17%,2.151% 6.217%,2.808% 4.679%,3.659% 3.503%,4.732% 2.639%,6.056% 2.034%,7.659% 1.635%,9.57% 1.391%,9.57% 1.391%,12.567% 1.175%,16.01% 1.007%,19.819% 0.881%,23.915% 0.787%,28.221% 0.717%,32.658% 0.663%,37.147% 0.616%,41.61% 0.569%,45.969% 0.514%,50.144% 0.441% ); 
    will-change: transform, opacity;
}

/* -- channel banner -- */

.banner {
    position: fixed;
    transform-origin: top left;

    background-color: rgba(53, 3, 3, 0.452);
}

.banner[data-state="inactive"] {
    pointer-events: none;
}

.banner[data-state="active"] {
    pointer-events: all;
}

.banner-frame {
    width: calc(95vh / var(--channel-aspect-height) * var(--channel-aspect-width));
    height: 95vh;
    border: white 2px solid;

    display: flex;
    flex-direction: column;
}

.banner-content-container {
    pointer-events: none;

    flex-grow: 1;
}
.banner-footer {
    height: 20%;
    flex-shrink: 0;

    background-color: rgb(202, 202, 202);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.banner-content[data-state="enabled"] {
    display: initial;
}

.banner-content[data-state="disabled"] {
    display: none;
}

.banner-button {
    background-color: white;
    border-radius: 500px;
    width: 30%;
    margin: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    container-type: size;
}

.banner-button .label {
    font-size: 40cqh;
}

.button {
    transition: transform .08s linear; 
}
.button:hover {
    transform: scale(1.2);
}