:root {
    --channel-aspect-width: 192;
    --channel-aspect-height: 105;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 

  background-color: black;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;

    transition: transform 0s ease-out;
    pointer-events: none;
    transform-origin: center;
    will-change: transform;

    z-index: 99;
} 

/* -- menu -- */
.menu {
    will-change: transform;
    backface-visibility: hidden;

    min-height: 100vh;
    display: flex; /* Optional: helps with layout */
    flex-direction: column;
    margin: 0;
    padding: 0;

    background-color: white;
}

.menu[data-state="inactive"] {
    pointer-events: none;
}

.menu-page {
    width: auto;
    max-height: 70vh;

    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5vmin;

    align-content: center;
    justify-content: center;

    /* aspect-ratio: 16/9; /* 4*4 / 3*3 */
    aspect-ratio: calc(var(--channel-aspect-width) * 4) / calc((var(--channel-aspect-height) * 3));
}

@media (orientation: portrait) {
    .menu-page {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
        aspect-ratio: 1; /* 4*3 / 3*4 */
    }
}

.menu-page .channel-icon {
    width: 100%;
    height: 100%;

    position: relative
}

.channel-icon-content {
    --insetPercentage: 0.05;

    width: auto;
    height: auto;

    position: absolute;
    background-color: rgb(118, 183, 236);

    inset: 2% 1%;
    border-radius: 10%;
}

.channel-icon-outline {
    width: 100%;
    height: 100%;

    position: absolute;
}

.banner {
    -webkit-mask-image: url('assets/channel-mask.svg');
    mask-image: url('assets/channel-mask.svg');

    mask-type: alpha;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-position: center;
    mask-position: center;

    contain: paint;
}

/* -- channel banner -- */

.banner {
    position: fixed;
    transform-origin: top left;

    background-color: rgba(53, 3, 3, 0.452);
}

.banner[data-state="inactive"] {
    pointer-events: none;
}

.banner[data-state="active"] {
    pointer-events: all;
}

.banner-frame {
    width: calc(95vh / var(--channel-aspect-height) * var(--channel-aspect-width));
    height: 95vh;
    border: white 2px solid;

    display: flex;
    flex-direction: column;
}

.banner-content-container {
    pointer-events: none;
    user-select: none;

    flex-grow: 1;
}
.banner-footer {
    user-select: none;

    height: 20%;
    flex-shrink: 0;

    background-color: rgb(202, 202, 202);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.banner-content[data-state="enabled"] {
    display: initial;
}

.banner-content[data-state="disabled"] {
    display: none;
}

.banner-button {
    background-color: white;
    border-radius: 500px;
    width: 30%;
    margin: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    container-type: size;
}

.banner-button .label {
    font-size: 40cqh;
}

.button {
    transition: transform .08s linear; 
}
.button:hover {
    transform: scale(1.2);
}